.listagem{
    max-width: 200px;
}
.listagem .pokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    background-color: #6c757d;
    color: #e9ecef;
    padding: 5px;

    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

    min-height: 70px;
    box-shadow: 5px 5px 15px 8px #000000;
}

.listagem .pokemon:hover{
    transform: scale(1.10);
}

.listagem .pokemon img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon.ativo{
    background-color: #d00000;
}